body {
  text-align: center;
  background-color: #FFFFFF;
  color: #000000;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  font-size: 48px;
  color: #2CAF90;
  margin-top: 100px;
}

h2 {
  text-align: justify;
  font-size: 18px;
  margin: 50px;
}

figure {
  margin: 50px;
}

iframe {
  border: none;
  max-width: 100%;
}

footer {
  text-align: center;
  font-size: 14px;
  margin-top: 50px;
  color: #999999;
}
