/* Estilos para el título y descripción */
header {
	text-align: center;
	margin-top: 20px;
}
h1 {
	font-size: 60px;
	font-weight: bold;
	color: #2CAF90;
	margin-bottom: 10px;
	font-family: 'Roboto Sans', sans-serif;
}
h2 {
	font-size: 24px;
	color: #2CAF90;
	font-family: 'Roboto Sans', sans-serif;
}

/* Estilos para la descripción */
.content {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
}
p {
	font-size: 18px;
	margin-bottom: 20px;
	font-family: 'Roboto Sans', sans-serif;
}

/* Estilos para el iframe de la línea de tiempo */
iframe {
	display: block;
	margin: 0 auto;
	border: none;
	width: 100%;
	max-width: 800px;
	height: 650px;
}

/* Estilos para el footer con los créditos */
footer {
	text-align: center;
	font-size: 14px;
	color: #ffffff;
	background-color
